@CHARSET "UTF-8";

div#sitebody {
	width: 1000px;
}

div #judge {
	width: 300px;
	hight:20px;
	background-color: #FFFF00;
	float : left;
}

.over {
	width: 200px;
	height: 100px;
	background-color: #CCCCFF;
	z-index: 100;
	top: 29;
	left: 0
}

.time {
	border-style: none;
	text-align: right;
	height: 120px;
}

.memori0 {
	border-style: none;
}

.memori {
	border-top: none;
	border-left: none;
}

.timetitle {
	color: red;
	border-style: none;
}

.table {
	border-collapse: collapse;
	border-style: none;
}

.gyou {
	height: 600px;
}


.calender {
	clear: left;

}

/* カレンダー関連 */
#calendartable {border-collapse: collapse;}
#left{

}
#right{

}
#day{
	width:20
}

/* 予約フォーム */
.reservform {
	height: 300px;
	width: 300px;
	float: left;
	padding: 30px;
	color: white;
	background-color: #40bfb0;
	padding: 15px;
	margin-bottom: 10px;
	border-right: 1px solid #dddddd;
}

/* 1日の予約一覧 */
.dayreserv {
	float: right;
	width: 580px;
	padding: 30px;
	color: black;
	background-color: #ffffd5;
	padding: 15px;
	margin-bottom: 10px;
	border-right: 1px solid #dddddd;
}

/* 1つの予約に関する表示 */
.reserv {
	z-index: 2;
	background: #ffc867;
	border: solid 1px #fff;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: center;
}

.reserv:hover { /*マウスが乗ったら*/
	z-index: 2147483647;
	position: relative;
	top: 0px;
	left: 0px;
}

.fukidasipop { /*吹き出し本体*/
	text-align: left;
	position: absolute;
	top: 17px;
	left: 20px;
	display: none; /*何も表示しない*/
	padding: 5px; /*内側の余白*/
	width: 300px; /*ブロックの幅
        font-weight: bold; /*文字の太さ*/
	text-decoration: none; /*文字飾り*/
	color: #ffffff; /*文字色*/
	background-color: #b22222; /*背景色*/
	filter: alpha(opacity = 85); /* IE */
	　　-moz-opacity: 0.85;
	/
	*Firefox・Netscape
	*/
	　opacity
	:
	0.85; /* Opera・Safari */
}

.reserv:hover .fukidasipop {
	display: block; /*ブロック要素で表示*/
}